.about-section {
    @extend %section;
}

.about-container,
.about-list {
    display: flex;
    gap: 30px;
}

.about-right-side {
    width: 470px;
}

.about-section .title {
    color: var(--secondary-title-color);
}

.about-desc {
    font-size: 14px;
    line-height: calc(26 / 14);
    letter-spacing: 0.02em;
    margin-bottom: 42px;

    color: var(--secondary-undertitle-color);
}

.about-section .translate {
    display: inline-block;
}