.benefits {
    @extend %section;
}

.benefits .title,
.benefits .uppertitle {
    color: var(--secondary-title-color);
}

.benefits .undertitle {
    width: 500px;
}

.benefits-quantity {
    font-weight: 700;
    font-size: 42px;
    line-height: calc(57 / 42);
    text-align: center;
    letter-spacing: 0.05em;

    color: var(--secondary-title-color);
}

.benefits-decor {
    font-weight: 600;
    font-size: 16px;
    line-height: calc(22 / 16);
    text-align: center;

    color: var(--accent-color);
}

.benefits-text {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    text-align: center;

    color: #303030;
}

.benefits .flex {
    gap: 130px;
}

.benefits-list.flex {
    gap: 30px;
    flex-wrap: wrap;
    justify-content: right;
}

.benefits-item {
    width: 170px;
    height: 133px;
    background-color: #f7f7f7;
    padding: 20px 30px;
}

.benefits-item:nth-child(2) {
    margin-top: 18px;
}

.benefits-item:nth-child(1) {
    margin-top: -18px;
}