.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 10;
}

.header-nav {
    margin-right: auto;
}

.nav-link,
.header-tel {
    display: block;
    padding-top: 52px;
    padding-bottom: 52px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;

    color: var(--main-title-color);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-link {
    margin-right: 132px;
}

.header-list {
    display: flex;
    gap: 30px;
}

.header-group {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-right: 20px;
}

.nav-link:hover,
.nav-link:focus,
.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
}

.header-tel {
    text-align: center;
    text-transform: uppercase;

    color: var(--main-title-color);
}

.header.no-trasparency {
    background-color: rgba(25, 28, 38, 0.7);
    // backdrop-filter: blur(3px);

}


.header.no-trasparency .header-logo {
    fill: #fff;
}
