// Partial 3
:root {
    /* Text Colors */
    --main-title-color: #fff;
    --sub-title-color: #9da4bd99;
    --main-btn-color: #fff;
    --accent-color: #ff6c00;
    --secondary-title-color: #303030;
    --secondary-undertitle-color: #555555;
    --undertitle-color: #9DA4BD;
    /* Bg Colors */
    --dark-bg-color: #191c26;

    /* Others */
    --indent: 30px;
    --items: 3;
}